html {
    overflow-y: scroll;
    height: 100%;
    background-color: rgb(200, 218, 230);
}

/* Setting margin and padding to 0 for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/********** HEADER STYLING *****/
.page-header {
    background-color: rgb(80, 160, 214);
    padding: 1.3rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/**** LOGO ****/
.logo {
    color: rgb(226, 226, 47);
    align-self: center;
    margin-left: 1rem;
}

/**** NAV BAR ****/
.nav-bar {
    margin: auto;
}

/** Buttons **/
.top-nav-button {
    background: none;
    border: none;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 0.4rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: .4s ease;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar a:hover .top-nav-button {
    background-color: rgb(194, 155, 70);
    transform: scale(1.2);
}

/** Hamburger button **/
.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}

/** Login button **/
#login {
    font-size: 0.8rem;
    color: white;
    border: 0;
    background: rgb(61, 54, 54);
    border-radius: 5px;
    padding: 0.9rem;
    width: 100px;
    cursor: pointer;
    transition: .4s ease;
}

#login:hover {
    background-color: rgb(194, 155, 70);
    transform: scale(1.1);
}

/** RESPONSIVE HEADER **/
@media screen and (max-width: 1250px) {

    /* Left section of header */
    .page-header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 0.5rem;
    }

    /* Mobile navigation bar view. */
    .nav-bar {
        position: absolute;
        visibility: hidden;
        top: 100%;
        left: -100%;
        width: 20vw;
        height: 118vh;
        background-color: rgb(122, 177, 214);
        transition: .4s ease;
        opacity: 0;
    }
    /* Hide the navbar by default */
    .nav-bar.closed {
        left: -100%;
        visibility: hidden;
        opacity: 0;
    }
    .nav-bar:not(.closed) {
        left: 0;
        visibility: visible;
        opacity: 1;
    }

    /* Nav bar buttons */
    .top-nav-button {
        display: flex;
        align-items: center;
        padding: 0 0.75rem;
        margin: 0;
        height: 10vh;
        width: 100%;
        text-align: left;
        background-color: rgb(122, 177, 214);
        border-radius: 0;
        color: white;
        cursor: pointer;
        font-size: 1.4vw;
        transition: 0.2s ease-in-out;
    }
    .nav-bar a:hover .top-nav-button {
        background-color: rgb(194, 155, 70);
        transform: translateX(1vh);
        transition: 0.4s ease-in-out;
    }
    .nav-bar a {
        display: block;
        width: 100%;
        text-decoration: none;
    }

    /* Login button */
    #login {
        padding: 0.9rem;
        width: 100px;
    }

    /* Logo */
    .logo {
        font-size: 0.85rem;
        margin-left: 0;
    }

    /* Hamburger button */
    .menu-icon {
        display: block;
        font-size: 1.5rem;
        z-index: 1;
        padding: 0 10px 0 10px;
        border-radius: 5px;
        transition: 0.4s;
    }
    .menu-icon:hover {
        background-color: rgb(194, 155, 70);
    }
}