html {
    overflow-y: scroll;
    height: 100%;
    background-color: rgb(200, 218, 230);
}

/* Setting margin and padding to 0 for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/********** HEADER STYLING *****/
header {
    background-color: #89C7E7;
    padding: 1.3rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/**** LOGO ****/
.logo {
    align-self: center;
    margin-left: -0.2rem;
}

.logo img {
    zoom: 12%;
}

/**** NAV BAR ****/
.nav-bar {
    margin: auto;
}

/** Buttons **/
.top-nav-button {
    background: none;
    border: none;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    margin: 0.4rem;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 10px;
    color: #013C58;
    cursor: pointer;
    transition: .4s ease;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar a:hover .top-nav-button {
    background-color: #013C58;
    color: white;
    transform: scale(1.2);
}

/** Hamburger button **/
.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}

/** Login button **/
#login {
    font-size: 1.1rem;
    color: white;
    border: 0;
    background: #013C58;
    border-radius: 5px;
    padding: 0.9rem;
    width: 100px;
    cursor: pointer;
    transition: .4s ease;
}

#login:hover {
    background-color: #F5A201;
    transform: scale(1.1);
}

/* HIDE HOME BUTTON WHEN ZOOMING IN */
@media screen and (max-width: 1500px) {
    .nav-bar a:first-child {
        display: none;
    }
}

/** RESPONSIVE HEADER **/
@media screen and (max-width: 1100px) {

    /* Left section of header */
    header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 0.5rem;
    }

    /* Mobile navigation bar view. */
    .nav-bar {
        position: absolute;
        visibility: hidden;
        top: 100%;
        left: -100%;
        width: 20vw;
        height: 118vh;
        background-color: #013C58;
        transition: 0.5s ease;
        opacity: 0;
    }

    /* Hide the navbar by default */
    .nav-bar.closed {
        left: -100%;
        visibility: hidden;
        opacity: 0;
    }

    .nav-bar:not(.closed) {
        left: 0;
        visibility: visible;
        opacity: 1;
    }

    /* Nav bar buttons */
    .top-nav-button {
        display: flex;
        align-items: center;
        padding: 0 0.75rem;
        margin: 0;
        height: 10vh;
        width: 100%;
        text-align: left;
        background-color: #013C58;
        border-radius: 0;
        color: white;
        cursor: pointer;
        font-size: 1.4vw;
    }

    .nav-bar a {
        display: block;
        width: 100%;
        text-decoration: none;
    }

    .nav-bar a:hover .top-nav-button {
        background-color: #F5A201;
        transform: translateX(0.5vw);
        transition: 0.4s ease-in-out;
    }


    /* Login button */
    #login {
        padding: 0.9rem;
        width: 100px;
    }

    /* Logo */
    .logo {
        margin-left: 0.75rem;
    }

    .logo img {
        zoom: 10%;
    }

    /* Hamburger button */
    .menu-icon {
        display: block;
        font-size: 1.5rem;
        z-index: 1;
        border-radius: 5px;
        transition: 0.4s;
        margin-left: 0.1rem;
        margin-bottom: 0.2rem;
    }

    .menu-icon:hover {
        cursor: pointer;
    }
}