/********** BASE HTML ******************************/
html {
    overflow-y: scroll;
    height: 100%;
    background-color: rgb(200, 218, 230);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/********** HEADER ******************************/
header {
    position: relative;
    top: 0;
    z-index: 2000;
    background-color: #89C7E7;
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* Logo */
.logo img {
    zoom: 12%;
}

/********** Top navigation (desktop) ******************************/
.nav-bar {
    margin: auto;
}

.nav-bar a {
    text-decoration: none;
}

/* Navigation buttons */
.top-nav-button {
    background: none;
    border: none;
    padding: 0.5rem 1.2rem;
    margin: 0.4rem;
    font-size: 1.1rem;
    border-radius: 10px;
    color: #013C58;
    cursor: pointer;
    transition: .4s ease;
}

/* Hover animation */
.nav-bar a:hover .top-nav-button {
    background-color: #013C58;
    color: white;
    transform: scale(1.2);
}

/* Hamburger menu button */
.menu-icon {
    display: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Login button */
.login {
    font-size: 1.1rem;
    color: white;
    border: 0;
    background: #013C58;
    border-radius: 5px;
    padding: 0.9rem;
    width: 100px;
    cursor: pointer;
    transition: .4s ease;
}

/* Login button hover animation */
.login:hover {
    background-color: #F5A201;
    transform: scale(1.1);
}

/* Hide home button when zooming in */
@media screen and (max-width: 1500px) {
    .nav-bar a:first-child {
        display: none;
    }
}

/********** MOBILE HEADER ******************************/
@media (max-width: 1100px) {
    #navigation-bar {
        display: none !important;
    }
    .menu-icon {
        display: block;
    }
}

/********** SIDEBAR (For mobile and zoomed desktop) ******************************/
@media (max-width: 1100px) {

    /* Sidebar wrapper for scaling purposes */
    .sidebar-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 25vw;
        height: 100vh;
        transform: translateX(-100%);
        transition: .3s ease;
        z-index: 5000;

        /* Scaling variables */
        --bar-width: 250px;
        --bar-height: 800px;
        --visual-width: 30vw;
        --visual-height: 100vh;
        --scale-x: calc(var(--visual-width) / var(--bar-width));
        --scale-y: calc(var(--visual-height) / var(--bar-height));

        --scale: min(var(--scale-x), var(--scale-y));
    }
    .sidebar-wrapper:not(.closed) {
        transform: translate(0);
    }

    /* Sidebar */
    .sidebar {
        width: var(--bar-width);
        height: var(--bar-height);
        padding: 1rem;
        background-color: #013C58;
        display: flex;
        flex-direction: column;

        transform-origin: top left;
        transform: scale(var(--scale));
    }

    /* Close button */
    #close-button {
        position: absolute;
        right: 1rem;
        top: 0.7rem;
        background: none;
        border: none;
        font-size: 2.5rem;
        color: #89C7E7;
        cursor: pointer;
        transition: .4s ease;
        z-index: 20;
    }
    #close-button:hover {
        transform: scale(1.1);
        color: #F5A201;
    }

    /* Sidebar header and logo section */
    .side-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: solid 1px #F5A201;
    }

    .side-logo {
        width: 80px;
    }

    /* Sidebar title and text section */
    .side-title h2 {
        color: white;
        font-size: 1rem;
    }

    .side-title p {
        color: #89C7E7;
        font-size: 0.6rem;
    }

    /* Sidebar buttons */
    .side-button {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.6rem 0.3rem;
        font-size: 1rem;
        color: white;
        text-decoration: none;
        border-radius: 8px;
        transition: 0.25s ease;
        margin-top: 0.7rem;
    }
    .side-button i {
        font-size: 2rem;
        text-align: center;
        padding-left: 10px;
    }

    /* Sidebar button hover animation */
    .side-button:hover {
        background-color: #89C7E7;
        color: #013C58;
        transform: translateX(5px);
    }

    /* Card section */
    .side-section h3 {
        color: #89C7E7;
        margin-bottom: 0.6rem;
        margin-top: 5rem;
        font-size: 1rem;
    }

    /* Card styling */
    .points-card,
    .streak-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #89C7E7;
        padding: 0.7rem;
        border-radius: 12px;
        margin-bottom: 0.8rem;
        color: #013C58;
    }
    .streak-card {
        background: rgb(221, 149, 161);
    }

    /* Labels for cards */
    .points-label,
    .streak-label {
        font-size: 1rem;
    }

    /* Values for cards */
    .points-value,
    .streak-value {
        font-size: 1.5rem;
        font-weight: 700;
    }

    /* User card */
    .user-card {
        background: #F5A201;
        padding: 0.6rem;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 0.9rem;
        margin-top: 1rem;
    }

    /* User profile icon */
    .user-icon {
        width: 50px;
        height: 50px;
        background: #013C58;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
    }

    /* Username */
    .user-card h4 {
        color: #013C58;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.1rem;
    }

    /* User Level */
    .user-card p {
        font-size: 0.8rem;
        opacity: 0.8;
    }
}

/* Hide sidebar on desktop */
@media screen and (min-width: 1100px) {
    #sidebar {
        display: none;
    }
}