/**************************************** ACCOUNT SETTINGS FORM ****************************************/

/* Text fields */
.account_settings_form input {
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
    height: 50px;
    margin-bottom: 1.5rem;
    padding-left: 0.5rem;
    color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    box-sizing: border-box;
}

/* Password field */
.password-field {
    position: relative;
}

/* Password visibility button */
.visibility-icon {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    color: #013C58;
}

/* Field focused */
.account_settings_form input:focus {
    outline-style: none;
    border: 1px solid #013C58;
    color: black;
}

/* Delete account button */
#delete_account {
    background: rgb(177, 0, 0);
    width: 150px;
    margin-right: auto;
    border: none;
    color: white;
}