/**************************************** ACCOUNT SETTINGS FORM ****************************************/

/* Input fields */
.account_settings_form input {
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
    height: 50px;
    margin-bottom: 1.5rem;
    padding-left: 0.5rem;
    color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    box-sizing: border-box;
}

/* Password field */
.password-field {
    position: relative;
}
.password-field input::placeholder {
    color: rgb(196, 196, 196);
}

/* Password visibility button */
.visibility-icon {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    color: #013C58;
}

/* Input field is focused */
.account_settings_form input:focus {
    outline-style: none;
    border: 1px solid #013C58;
    color: black;
}

/* Delete account button */
#delete_account {
    background: red;
    width: 150px;
    margin-right: auto;
    border: none;
    color: white;
}

/**************************************** RESPONSIVE DESIGN ****************************************/
@media (max-width: 1100px) {

    /* Input fields */
    .account_settings_form input {
        font-size: 0.6rem;
        height: 30px;
        margin-bottom: 0.9rem;
        border-radius: 5px;
    }

    /* Password visibility button */
    .visibility-icon {
        top: 0.9rem;
        right: 0.5rem;
        transform: translateY(-50%);
    }
    .visibility-icon svg {
        width: 16px;
        height: 16px;
    }

}

/**************************************** MOBILE MODE ****************************************/
@media (max-width: 650px) {

    /* Input fields */
    .account_settings_form input {
        height: 32px;
        font-size: 0.7rem;
        border-radius: 5px;
    }

    /* Password visibility icon */
    .visibility-icon {
        right: 0.5rem;
        bottom: 0.6rem;
        transform: translateY(-50%);
    }
    .visibility-icon svg {
        width: 14px;
        height: 14px;
    }
}