/* Form body */
.form_section {
    width: 600px;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    animation: fadeIn 0.5s;
}

/* Fade in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Heading and subheading */
.form_header {
    text-align: center;
}

.form_header p {
    font-weight: 400;
    color: grey;
}

/* Fields and Input section */
.form_fields {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Fields and Input labels */
.site_settings_form h4,
.account_settings_form h4 {
    padding-bottom: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
}

/* Submission buttons wrapper */
.form_buttons {
    display: flex;
    gap: 1rem;
    justify-content: right;
}

/* Submission buttons */
.form_buttons button {
    width: 7rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    transition: .3s ease;
}

#cancel {
    background: white;
    border: 1px solid black;
}

#submit {
    background: #013C58;
    border: none;
    color: white;
}

/* Button Hover animation */
#cancel:hover,
#submit:hover,
#delete_account:hover {
    transform: scale(1.2);
    transform-origin: center;
    position: relative;
    background: #F5A201;
    color: black;
    border: none;
    cursor: pointer;
}

/**************************************** PAGE SCALING ON DIFFERENT SCREEN SIZES/ZOOM LEVELS ****************************************/
@media (max-width: 1100px) {

    /* Form body */
    .form_section {
        max-width: 400px;
        padding-top: 1rem;
    }

    /* Form header and subheader */
    .form_header h2 {
        font-size: 1rem;
    }

    .form_header p {
        font-size: 0.8rem;
    }

    /* Fields and Input section */
    .form_fields {
        padding: 1rem;
    }

    /* Field Labels */
    .settings_form h4,
    .account_settings_form h4 {
        font-size: 0.7rem;
    }

    /* Submission buttons wrapper */
    .form_buttons {
        gap: 0.5rem;
    }

    /* Submission buttons */
    .form_buttons button,
    #delete_account,
    #cancel,
    #submit {
        width: 7rem;
        height: 2rem;
        padding: 0.2rem;
        font-size: 0.6rem;
        border-radius: 5px;
    }

    /* Remove button hover animation */
    #cancel:hover,
    #submit:hover,
    #delete_account:hover {
        transform: none;
    }

}

/**************************************** MOBILE MODE ****************************************/
@media (max-width: 650px) {

    /* Form body */
    .form_section {
        max-width: 100vw;
        margin: 0 auto;
        box-sizing: border-box;
        padding-top: 0;
    }

    /* Fade in animation */
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Heading and subheadings */
    .form_top_wrapper h2 {
        font-size: 1.1rem;
    }

    .form_top_wrapper p {
        font-size: 0.75rem;
    }

    /* Submission buttons */
    .form_buttons,
    #delete_account,
    #cancel,
    #submit {
        width: 100%;
        flex-direction: column-reverse;
        gap: 0.6rem;
    }
}