/**************************************** GENERAL FORM STYLING ****************************************/
.site_settings_form_section,
.account_settings_form_section {
    width: 600px;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;

}

/* Heading and subheading */
.site_settings_form_top,
.account_settings_form_top {
    text-align: center;
}
.site_settings_form_top p,
.account_settings_form_top p {
    font-weight: 400;
    color: grey;
}

/* Fields and buttons */
.site_settings_form_bottom,
.account_settings_form_bottom {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Field Labels */
.settings_form h4,
.account_settings_form h4 {
    padding-bottom: 0.5rem;
}

/* Form bottom buttons wrapper */
.form_buttons {
    display: flex;
    gap: 1rem;
    justify-content: right;
}

/* Form Buttons */
.form_buttons button {
    width: 7rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    transition: .3s ease;
}
#cancel {
    background: white;
    border: 1px solid black;
}
#submit {
    background: #013C58;
    border: none;
    color: white;
}
#cancel:hover,
#submit:hover,
#delete_account:hover {
    transform: scale(1.2);
    transform-origin: center;
    position: relative;
    background: #F5A201;
    color: black;
    border: none;
    cursor: pointer;
}

/**************************************** PAGE SCALING ON DIFFERENT SCREEN SIZES/ZOOM LEVELS ****************************************/
@media (max-width: 1100px) {

    /************** FORM SECTION **************/
    .site_settings_form_section,
    .account_settings_form_section {
        max-width: 400px;
        padding-top: 1rem;
    }

    .site_settings_form_bottom,
    .account_settings_form_bottom {
        padding: 1rem;
    }

    /* Form header and subheader */
    .site_settings_form_top h2,
    .account_settings_form_top h2 {
        font-size: 1rem;
    }

    .site_settings_form_top p,
    .account_settings_form_top p {
        font-size: 0.8rem;
    }

    /* Field Labels */
    .settings_form h4,
    .account_settings_form h4 {
        font-size: 0.7rem;
    }

}

/**************************************** MOBILE MODE ****************************************/
@media (max-width: 650px) {

    .site_settings_form_section,
    .account_settings_form_section {
        max-width: 100vw;
        margin: 0 auto;
        box-sizing: border-box;
        padding-top: 0;
    }

    /* Heading and subheadings */
    .site_settings_form_top h2,
    .account_settings_form_top h2 {
        font-size: 1.1rem;
    }

    .site_settings_form_top p,
    .account_settings_form_top p {
        font-size: 0.75rem;
    }

    /* Form Buttons */
    .form_buttons,
    #delete_account,
    #cancel,
    #submit {
        width: 100%;
        flex-direction: column-reverse;
        gap: 0.6rem;
    }
    #cancel:hover,
    #submit:hover,
    #delete_account:hover {
        transform: none;
        background: #F5A201;
        color: black;
        border: none;
        cursor: pointer;
    }

}

