/* Dropdown options */
.site_settings_form select {
    font-size: 0.9rem;
    width: 100%;
    height: 50px;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border: 1px solid rgb(196, 196, 196);
    background: rgb(238, 238, 238);

    /* Remove default browser arrow and replace with cleaner version */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Dropdown focused */
.site_settings_form select:focus {
    outline-style: none;
    border: 1px solid #013C58;
}

/* Verify account section */
.verification_box {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    padding: 1rem;
}

/* Verify account section text */
.verification_box h5 {
    font-size: 1rem;
    margin: 0;
}

/* Learn more button */
.verification_box button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    font-size: 1rem;
    transition: 0.3s ease;
    margin: 0;
}

/* Learn more hover animation */
.verification_button:hover {
    color: #F5A201;
}

/**************************************** RESPONSIVE DESIGN ****************************************/
@media (max-width: 1100px) {

    /* Dropdown options */
    .site_settings_form select {
        font-size: 0.6rem;
        height: 30px;
        margin-bottom: 0.9rem;
        border-radius: 5px;
    }

    /* Verify account section */
    .verification_box {
        margin-bottom: 1rem;
        padding: 0.7rem;
        border-radius: 5px;
    }

    /* Verify account section text */
    .verification_box h5,
    .verification_box button {
        font-size: 0.6rem;
        margin: 0;
    }

}

/**************************************** MOBILE MODE ****************************************/
@media (max-width: 650px) {

    /* Dropdown options */
    .site_settings_form select {
        height: 32px;
        font-size: 0.7rem;
        font-weight: 500;
        border-radius: 5px;
    }

    /* Verify account section */
    .verification_box {
        padding: 0.7rem;
        border-radius: 5px;
    }

    /* Verify account section text */
    .verification_box h5,
    .verification_button {
        font-size: 0.6rem;
    }

}
    