/********** DELETE ACCOUNT MODAL **********/

/* Top warning section */
.warningSection {
    background: red;
    margin: -1rem -1rem 2rem -1rem;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.3rem;
}

/* Warning subheading */
.modal-body h4 {
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

/* Password Field */
.deleteAccountField {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: -0.2rem;
    border-radius: 10px;
    border: 1px solid rgb(196, 196, 196);
    background: 1px solid rgb(196, 196, 196);
    color: #013C58;
    font-weight: 500;
}

.modal-body input:focus {
    outline: none;
    border: 1px solid #013C58;
}

/* Confirm Delete button */
.modal-footer .btn-danger {
    background: red;
    color: white;
    border: none;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 10rem;
    height: 2.5rem;
}

.modal-footer .btn-danger:hover {
    background: #F5A201;
    color: black;
    transform: scale(1.05);
}

/**************************************** MOBILE MODE ****************************************/
@media (max-width: 650px) {

    /* Top warning section */
    .warningSection {
        margin: -1rem -1rem 1rem -1rem;
    }

    /* Warning subheading */
    .modal-body h4 {
        font-size: 0.8rem;
        width: 80%;
        line-height: 1rem;
    }

    /* Confirm delete button */
    .modal-footer .btn-danger {
        width: 100%;
        height: 2.2rem;
        font-size: 0.9rem;
    }

    /* List text */
    .modal-body ul {
        padding-left: 2.5rem;
    }
    .modal-body li {
        font-size: 0.7rem;

    }
}