/******************** GENERAL MODAL BOX STYLING ********************/

/* Width of Modal */
.modal-dialog {
    max-width: 650px;
    width: 90%;
}

/* Wrapper */
.modal-content {
    background: white;
    border-radius: 5;
    border: 1px solid #013C58;
    padding: 2rem;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    z-index: 3000;
}

/* Header */
.modal-header {
    padding-top: 0;
    border-bottom: 1px solid #013C58;
    color: #013C58;
    font-weight: 600;
}

/* Close button */
.modalCloseButton {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    font-size: 2.3rem;
    color: #013C58;
    border: none;
    background: none;
    cursor: pointer;
    line-height: 1;
    transition: 0.3s ease;
}
.modalCloseButton:hover {
    opacity: 1;
    color: #F5A201;
    transform: scale(1.3);
}

/* Modal body */
.modal-body {
    font-size: 1rem;
    line-height: 2rem;
    color: #c1eef9;
}

/* Modal footer */
.modal-footer {
    border-top: 1px solid #F5A201;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 1.5rem;
}

/* Cancel Button */
.modal-footer .btn-secondary {
    background: #c1eef9;
    color: #013C58;
    border: none;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 10rem;
    height: 2.5rem;
}
.modal-footer .btn-secondary:hover {
    background: #F5A201;
    color: #013C58;
    transform: scale(1.05);
}

/********** DELETE ACCOUNT MODAL **********/

/* Warning subheading */
.modal-body h4 {
    font-size: 1.2rem;
    line-height: 2rem;
    color: rgb(226, 20, 20);
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Password Field */
.deleteAccountField {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid #c1eef9;
    background: #c1eef9;
    color: #013C58;
    font-weight: 500;
}
.modal-body input::placeholder {
    color: #6db4d4;
}
.modal-body input:focus {
    outline: none;
    border: 1px solid #013C58;
}

/* Confirm Delete button */
.modal-footer .btn-danger {
    background: rgb(177, 0, 0);
    color: white;
    border: none;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 10rem;
    height: 2.5rem;
}
.modal-footer .btn-danger:hover {
    background: #F5A201;
    color: black;
    transform: scale(1.05);
}


/********** LEARN MORE MODAL **********/

/* Subheadings */
.modal-body h5 {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #013C58;
}

/* Warning list items */
.modal-body ul {
    padding-left: 2rem;
    color: #F5A201;
}

/* Modal text content */
.modal-body p {
    font-weight: 600;
    color: #013C58;
}
.modal-body li {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    line-height: 2rem;
    font-weight: 500;
}

/* Upload file button */
.uploadFileButton {
    display: flex;
    padding: 1rem;
    background: #013C58;
    color: white;
    border: 1px solid #013C58;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    text-align: center;
}
.uploadFileButton:hover {
    background: #F5A201;
    color: #013C58;
    border-color: #F5A201;
    transform: scale(1.05);
}
.uploadFileButton i {
    margin-right: 0.5rem;
    margin-top: 0.15rem;
    font-size: 1.5rem;
}


