/* Modal width */
.modal-dialog {
    max-width: 650px;
    width: 90%;
}

/* Wrapper */
.modal-content {
    background: white;
    border-radius: 10px;
    border: 1px solid #013C58;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    z-index: 3000;
}

/* Header */
.modal-header {
    border-bottom: 1px solid #013C58;
    background: #013C58;
    padding: 1rem 2.3rem;
}


/* Header text */
.modal-header .modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

/* Close button */
.modalCloseButton {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    font-size: 2.3rem;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
    line-height: 1;
    transition: 0.3s ease;
}

/* Close button hover animation */
.modalCloseButton:hover {
    opacity: 1;
    color: #F5A201;
    transform: scale(1.3);
}

/* Body */
.modal-body {
    font-size: 1rem;
    line-height: 1.8rem;
}

/* Text */
.modal-body p {
    font-weight: 500;
    color: black;
    padding-left: 1.4rem;
}

/* List text */
.modal-body ul {
    padding-left: 3rem;
    color: #013C58;
}

.modal-body li {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    line-height: 2rem;
    font-weight: 600;
}

/* Footer */
.modal-footer {
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

/* Cancel button */
.modal-footer .btn-secondary {
    background: #c1eef9;
    color: #013C58;
    border: none;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 10rem;
    height: 2.5rem;
}

/* Cancel button hover animation */
.modal-footer .btn-secondary:hover {
    background: #F5A201;
    color: #013C58;
    transform: scale(1.05);
}

/**************************************** PAGE SCALING ON DIFFERENT SCREEN SIZES/ZOOM LEVELS ****************************************/
@media (max-width: 1100px) {

    /* Modal Width */
    .modal-dialog {
        max-width: 90%;
    }
}

/**************************************** MOBILE MODE ****************************************/
@media (max-width: 650px) {

    /* Modal Width */
    .modal-dialog {
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 100%;
    }

    /* Close modal button */
    .modalCloseButton {
        font-size: 2rem;
        right: 0.6rem;
        top: 0.7rem;
    }

    .modal-header {
        padding-left: 1.5rem;
    }

    /* Header text */
    .modal-header .modal-title {
        font-size: 1rem;
    }

    /* Body */
    .modal-body {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }

    /* List text */
    .modal-body ul {
        padding-left: 1.5rem;
    }

    .modal-body li {
        font-size: 0.8rem;
        line-height: 1.4rem;
        padding-left: 0.1rem;
        padding-right: 0.7rem;
    }

    /* Footer */
    .modal-footer {
        flex-direction: column;
        gap: 0.6rem;
    }

    /* Footer buttons */
    .modal-footer .btn-secondary,
    .modal-footer .btn-danger {
        width: 100%;
        margin: auto;
        height: 2.2rem;
        font-size: 0.9rem;
    }

}