.moodpage_Banner {
  width: 100%;
  text-align: center;
  padding: 5vh;
  background: #c1eef9;
}

.moodpage_Banner h1 {
  font-size: 2.6rem;
  color: #013C58;
}

.moodpage_Banner p {
  color: #013C58;
  margin-top: .5rem;
}

.mood_Main {
  display: flex;
  padding-left: 20vw;
  padding-right: 20vw;
  gap: 3vw;
  margin-top: 3vh;
}

.mood_Left, .mood_Right {
  width: 50%;
}

.mood_Box {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  margin-bottom: 2rem;
}

.mood_Box h2 {
  color: #013C58;
  margin-bottom: 1rem;
}

.mood_Emoji_Row {
  display: flex;
  gap: .5rem;
  margin-bottom: 1rem;
}

.mood_Emoji {
  font-size: 1.8rem;
  padding: .4rem .6rem;
  border: 1px solid #bcdffb;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s;
}

.mood_Emoji:hover {
  transform: scale(1.1);
}

.mood_Emoji.active {
  background: #c1eef9;
  border-color: #013C58;
}

.mood_Label {
  display: block;
  margin-bottom: .3rem;
  color: #013C58;
}

.mood_Input {
  width: 100%;
  padding: .6rem;
  border: 1px solid #d0d7de;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.mood_Button {
  padding: .6rem 1.1rem;
  background: #013C58;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.mood_List {
  list-style: none;
  padding-left: 0;
}

.mood_List_Item {
  margin-bottom: 1.2rem;
}

.mood_Entry_Line {
  margin: 0.25rem 0;
  color: #013C58;
  font-size: 1rem;
}

.mood_Divider {
  margin-top: 0.7rem;
  border: none;
  border-bottom: 1px solid #d9e3e8;
}

.mood_Scroll {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 5px;

}

.chart_Overlay { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.mood_Chart {
  width: 100%;
  height: 100px;
  border: 1px solid #013C58;
  border-radius: 8px;
  cursor: pointer;
}

.chart_Caption {
  margin-top: 10px;
  color: #013C58;
  font-size: 1rem;
  text-align: center;
}

/* Mobile Mode */

@media (max-width: 900px) {

  .mood_Main {
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 2rem;
  }

  .mood_Left,
  .mood_Right {
    width: 100%;
  }

  .mood_Box {
    width: 100%;
    padding: 1.2rem;
  }

  .mood_Scroll {
    max-height: 250px;
  }

  .mood_Chart {
    width: 100%;
    height: 150px;
  }

  .chart_Caption {
    font-size: 0.9rem;
  }

  .mood_Emoji_Row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .mood_Emoji {
    font-size: 1.5rem;
    margin: 3px;
  }
}