/********* TO DO ***********/
/* Fix some content display issues when resizing screen */
/****************************/

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background-color: #013C58;
    padding: 1.3rem 0;
    margin-top: auto;
}

.footer-phone {
  text-decoration: none;
  color: inherit;
}

.footer-email {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.footer-contact {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

/* Centred footer content */
.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;

}

/* Logo */
footer img {
    width: 15rem;
}

/**** FOLLOW US (Social media) SECTION ****/
.footer_section {
    color: #c1eef9;
    letter-spacing: 0.05rem;
    gap: 0.5rem;
    display: block;
    margin-right: 0;    /* we use gap now */
    width: 300px;
}

/* Social media buttons */

.footer_follow {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;     /* allows wrapping on very small widths */
    gap: 0.5rem;
}

.footer_follow button {
    background: none;
    border: none;
    border-radius: 500px;
    color: #c1eef9;
    padding: 0.5rem;
    width: 45px;
    transition: 0.5s ease;
    font-size: 1.5rem;
}

.footer_follow button:hover {
    animation: wiggle 0.3s ease;
    cursor: pointer;
    background: #F5A201;
    color: #013C58;
}

/* Animation when hovering the social icons */
@keyframes wiggle {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(5deg);}
    20% {transform: rotate(10deg);}
    20% {transform: rotate(5deg);}
    30% {transform: rotate(0deg);}
    40% {transform: rotate(-5deg);}
    50% {transform: rotate(-10deg);}
    60% {transform: rotate(-5deg);}
    70% {transform: rotate(0deg);}
    80% {transform: rotate(5deg);}
    90% {transform: rotate(10deg);}
    100% {transform: rotate(5deg);}
}

/**** FOOTER SECTION BLOCKS ****/
.section_boxes {
    display: flex;
    gap: 3rem;
    margin-left: 0;
}
.footer_section {
    color: #c1eef9;
    letter-spacing: 0.05rem;
    gap: 0.5rem;
    display: block;
    margin-right: 0;
}

/* Headers for footer sections */
.footer_section h3 {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #c1eef9;
    width: 16rem;
}

/* Text for footer sections */
.footer_section p,
.privacy_button {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

/* Icons for footer sections */
.footer_section i {
    margin-right: 0.5rem;
    font-size: 1rem;
    width: 1rem;
    text-align: center;
}

/**** Privacy and Security links ****/
.privacy_button {
    background: none;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #c1eef9;
    transition: .4s ease;
    letter-spacing: 0.05rem;
    text-align: center;
}

.footer_section ul li {
    list-style-type: none;
    margin-bottom: 0.5rem;
}
.privacy_button:hover {
    cursor: pointer;
    color: #F5A201;
}