footer {
    background-color: #013C58;
    padding: 2rem;
    display: flex;
    gap: 10rem;
    height: 15rem;
}

/* Logo */
footer img {
    width: 10rem;
}

/* Headers */
footer h3 {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #c1eef9;
    text-align: center;
}

/**** FOLLOW US (Social media) SECTION ****/
.footer_follow {
    color: #c1eef9;
    letter-spacing: 0.05rem;
    gap: 0.5rem;
    display: block;
}

/* Social media buttons */
.footer_follow button {
    background: none;
    border: none;
    border-radius: 100%;
    width: 65px;
    color: #c1eef9;
    padding: 0.5rem;
    margin: 0.5rem;
    transition: 0.5s ease;
    font-size: 2.5rem;
}
.footer_follow button:hover {
    animation: wiggle 0.3s ease;
    cursor: pointer;
    background: #F5A201;
    color: #013C58;
}

/* Animation on hover */
@keyframes wiggle {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(5deg); }
  20% { transform: rotate(10deg); }
  20% { transform: rotate(5deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(-5deg); }
  50% { transform: rotate(-10deg); }
  60% { transform: rotate(-5deg); }
  70% { transform: rotate(0deg); }
  80% { transform: rotate(5deg); }
  90% { transform: rotate(10deg); }
  100% { transform: rotate(5deg); }
}


/**** CONTACT INFORMATION SECTION ****/
.footer_contact {
    color: #c1eef9;
    letter-spacing: 0.05rem;
    gap: 0.5rem;
    display: block;
}

/* Contact information content */
.footer_contact p {
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

/* Contact information icons */
.footer_contact i {
    margin-right: 0.5rem;
    font-size: 1rem;
    width: 1rem;
    display: inline-block;
    text-align: center;
}

