footer {
    position: relative;
    margin-bottom: 0;
    z-index: 2000;
    background-color: #013C58;
    padding: 1.3rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* Logo */
.footer_logo img {
    zoom: 10%;
}
