header {
  position: relative;
  top: 0;
  z-index: 2000;
  background-color: #013c58;
  padding: 1.3rem;
  border-bottom: 1px solid #013c5811;
  box-shadow: 0 5px 20px rgba(59, 57, 57, 0.452);
}

/* Centred header content */
.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

/* Logo */
.logo img {
  zoom: 15%;
}

/********** Top navigation (desktop) ******************************/
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

/* Navigation buttons */
.top-nav-button {
  background: none;
  border: none;
  padding: 0.4rem 0.4rem; /* was 0.5rem 1.2rem */
  margin-left: 0; /* REMOVE the old 2rem margin */
  font-size: 0.9rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-out;
  text-decoration: none;
}

/* Hover animation */
.top-nav-button:hover {
  background-color: #c1eef9;
  color: #013c58;
  transform: scale(1.1);
}

/* Hamburger menu button */
.menu-icon {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* Login button */
.login {
  font-size: 0.9rem;
  color: #013c58;
  border: 0;
  background: #c1eef9;
  border-radius: 10px;
  padding: 0.8rem 0.4rem;
  transition: 0.4s ease;
  text-decoration: none;
  text-align: center;
}

/* Login button hover animation */
.login:hover {
  background-color: #f5a201;
  color: #013c58;
  transform: scale(1.1);
}

@media (max-width: 1100px) {
  .menu-icon {
    display: block;
  }

  .top-nav-button {
    font-size: 0.2rem;
  }

  .nav-bar {
    display: none;
  }

  .login {
    padding: 1vw;
    font-size: 0.8rem;
  }
}

/* CURRENT PAGE */
.top-nav-button--active {
  background-color: #c1eef9;
  color: #013c58;
  border-color: black;
  transform: scale(1.2);
}

@media screen and (max-width: 425px) {
  .nav-inner {
    justify-content: center;
    gap: 1rem;
    padding-right: 0;
    padding-left: 5px;
  }
}
