/******************** Form navigation and logout buttons ********************/
.change_form_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

/* Form change + Logout button styling */
.change_form_wrapper button {
    box-sizing: border-box;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    margin-bottom: 1rem;
    background: none;
    transition: 0.3s ease;

    /* Font */
    color: rgb(155, 155, 155);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

/* Button hover animation */
.change_form_wrapper button:hover {
    cursor: pointer;
    background: #013C58;
    color: #c1eef9;
    border: 1px solid #c1eef9;
    transform: translateX(1rem);
}

/* Form associated with button is active */
.change_form_wrapper button.active {
    background: #013C58;
    color: #c1eef9;
    border: 1px solid #c1eef9;
    cursor: default;
    pointer-events: none;
}

/**************************************** PAGE SCALING ON DIFFERENT SCREEN SIZES/ZOOM LEVELS ****************************************/
@media (max-width: 1100px) {
    .change_form_wrapper button {
        height: 40px;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px;

        /* Font */
        font-size: 0.8rem;
        font-weight: 500;
        text-align: left;
    }
}

/**************************************** MOBILE MODE ****************************************/
@media (max-width: 650px) {

    /********** Navigation + logout buttons  **********/
    .change_form_wrapper button {
        width: 100%;
    }

}