/* Wrapper for banner section */
.learning_banner_wrapper {
    display: relative;
    width: 100%;

}

/* Banner image */
.learn_banner {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

/* Text overlay */
.learning_banner_title {
    padding: 1rem;
    position: absolute;
    top: 11rem;
    width: 100%;
    color: white;
    font-size: 2rem;
    text-align: center;
    background: rgba(0, 60, 88, 0.6);
    box-sizing: border-box;
}

/* Introductory text */
.learning_introduction_section {
    background: #c1eef979;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 3rem auto;
    text-align: center;
}

/* Heading Styling */
.learning_introduction_section h1 {
    font-size: 2rem;
    color: #013C58;
    margin-bottom: 1rem;
    font-weight: 600;
}

/* Paragraph Styling */
.learning_introduction_section p {
    font-size: 1.1rem;
    color: #013C58;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

/********** TOPIC CARDS **********/

/* Wrapper for the topic cards section */
.topic_cards_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

/* Wrapper for each card */
.topic_card_wrapper {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

/* Topic card content */
.topic_card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c1eef9;
    color: #013C58;
    text-align: center;
    padding: 1.2rem;
    border: 1px solid #013C58;
    width: 1500px;
    max-width: 100%;
    transition: .3s ease;
    cursor: pointer;
}

.topic_card h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto;
}

/* Topic card hover animation */
.topic_card:hover {
    background: #F5A201;
}


/***** TOPIC CARDS DROPDOWN MENU *****/
.topic_dropdown_menu {
    background: #013C58;
    border-top: none;
    list-style: none;
    width: 1500px;
    max-width: 100%;
    border-radius: 0 0 8px 8px;
    padding: 0;
}

/* Dropdown button */
.topic_dropdown_menu a {
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: 500;
    text-decoration: none;
    box-sizing: border-box;
    background: transparent;
    transition: 0.3s ease;
}

/* Dropdown hover effect */
.topic_dropdown_menu a:hover {
    background: #F5A201;
    color: #013C58;
}

/* Dropdown list */
.topic_dropdown_menu li {
    margin: 0;
    padding: 0;
}

