/* Wrapper for banner section */
.learning_banner_wrapper {
    display: relative;
    width: 100%;
}

/* Banner image */
.learn_banner {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

/* Text overlay */
.learning_banner_title {
    padding: 1rem;
    position: absolute;
    top: 11.75rem;
    width: 100%;
    color: white;
    font-size: 2rem;
    text-align: center;
    background: rgba(0, 60, 88, 0.6);
    box-sizing: border-box;
}

.learning_banner_title h1 {
    margin: 0;
}

/************ WELCOME SECTION ************/

/* Wrapper */
.learning_introduction_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #c1eef979;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.329);
    width: 1000px;
    max-width: 90%;
    margin: 4rem auto;
    text-align: center;
}

/* Intro Heading Styling */
.learning_introduction_section h1 {
    font-size: 2rem;
    color: #013C58;
    margin: 0;
    font-weight: 600;
}

/* Intro Paragraph Styling */
.learning_introduction_section p {
    font-size: 1.1rem;
    color: #013C58;
    line-height: 1.8;
    margin: 0;
    width: 80%;
    font-weight: 500;
}

/********** INFO BOX **********/

/* Wrapper */
.info_box_wrapper {
    width: 1300px;
    max-width: 100%;
    display: flex;
    margin: 2.5rem auto;
}

/* Information content box */
.info_box {
    display: flex;
    box-sizing: border-box;
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    background: #013C58;
    color: white;
}

/* Info box image */
.info_box_img {
    width: 25rem;
    height: auto;
    object-fit: cover;
}

/* Info box text */
.info_box_text_box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    border-left: 2px solid #c1eef9;
}

/* Info box text */
.info_box h2 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #F5A201;
}

/* Info box dropdown */
.info_box p {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    line-height: 2rem;
}


/********** TOPIC CARD SECTION WRAPPER **********/

/* Wrapper for the topic cards section */
.topic_cards_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin-bottom: 10rem;
}