/* Wrapper for banner section */
.learning_banner_wrapper {
    display: relative;
    width: 100%;

}

/* Banner image */
.learn_banner {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

/* Text overlay */
.learning_banner_title {
    padding: 1rem;
    position: absolute;
    top: 11rem;
    width: 100%;
    color: white;
    font-size: 2rem;
    text-align: center;
    background: rgba(0, 60, 88, 0.6);
    box-sizing: border-box;
}

/* Introductory text */
.learning_introduction_section {
    background:  #c1eef979;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 3rem auto;
    text-align: center;
}

/* Heading Styling */
.learning_introduction_section h1 {
    font-size: 2rem;
    color: #013C58;
    margin-bottom: 1rem;
    font-weight: 600;
}

/* Paragraph Styling */
.learning_introduction_section p {
    font-size: 1.1rem;
    color: #013C58;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

/********** TOPIC CARDS **********/
.topic_cards_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    width: 100%;
}

/* Topic card content */
.topic_card {
    background: #c1eef979;
    color: #013C58;
    text-align: center;
    padding: 1.5rem;
    border: 1px solid #013C58;
    border-radius: 5px;
    width: 100%;
    width: 1500px;
    transition: .3s ease;
    cursor: pointer;
}

/* Topic card hover animation */
.topic_card:hover {
    background: #F5A201;
}