header {
    position: relative;
    top: 0;
    z-index: 2000;
    background-color: #54B5B2;
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #013c5811;
    box-shadow: 0 5px 20px rgba(59, 57, 57, 0.452);
}

/* Logo */
.logo img {
    zoom: 12%;
}

/********** Top navigation (desktop) ******************************/
.nav-bar {
    margin: auto;
}

.nav-bar a {
    text-decoration: none;
}

/* Navigation buttons */
.top-nav-button {
    background: none;
    border: none;
    padding: 0.5rem 1.2rem;
    margin-left: 0.8rem;
    font-size: 1.2rem;
    border-radius: 10px;
    color: #013C58;
    cursor: pointer;
    transition: .3s ease-out;
    
}

/* Hover animation */
.nav-bar a:hover .top-nav-button {
    background-color: #013C58;
    color: white;
    transform: scale(1.2);
}

/* Hamburger menu button */
.menu-icon {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

@media (max-width: 900px) {
    .menu-icon {
        display: block;
    }

    .nav-bar {
        display: none;
    }
}

/* Login button */
.login {
    font-size: 1rem;
    color: white;
    border: 0;
    background: #013C58;
    border-radius: 5px;
    padding: 0.9rem;
    width: 100px;
    cursor: pointer;
    transition: .4s ease;
}

/* Login button hover animation */
.login:hover {
    background-color: #F5A201;
    color: #013C58;
    transform: scale(1.1);
}

/* Hide home button when zooming in */
@media screen and (max-width: 1200px) {
    .nav-bar a:first-child {
        display: none;
    }    
}