/* Wrapper */
.lesson_wrapper {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Fade in animation when changing page */
.lesson_section {
    animation: fadeIn 1s;
    background: #c1eef98c;
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Lesson page wrapper */
.lesson_page {
    display: flex;
    gap: 0;
}

/* Text container */
.lesson_page_text {
    padding: 2.5rem;
}

/* Subheading */
.lesson_section h2 {
    font-size: 1.5rem;
    color: #013C58;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

/* Text */
.lesson_section p {
    font-size: 1.15rem;
    line-height: 2;
    color: #013C58;
    font-weight: 500;
}

/* Text (list) */
.lesson_section li {
    margin-bottom: 0.5rem;
    font-weight: 500;
    padding-left: 1rem;
}

/* Image on page */
.lesson_page_image img {
    object-fit: cover;
}

/* Right image */
.lesson_page_image.right img {
    border-radius: 0 10px 10px 0;
    object-fit: cover;
}

/* Left image */
.lesson_page_image.left img {
    border-radius: 10px 0 0 10px;
}

/* Navigation buttons wrapper */
.lesson_nav_buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 4rem;
}

/* Navigation buttons */
.lesson_nav_buttons button {
    padding: 0.8rem 1.5rem;
    background: #013C58;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Navigation button hover animation */
.lesson_nav_buttons button:hover {
    background: #F5A201;
    color: #013C58;
}

/* Disabled buttons styling */
.lesson_nav_buttons button:disabled {
    background: #ccc;
    color: #666;
    pointer-events: none;
}

/* Page counter */
.lesson_page_counter {
    text-align: center;
    color: #013C58;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-left: 2.3rem;
}