/* Wrapper */
.quiz_section {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}


/* Question text */
.quiz_question {
    margin-bottom: 2rem;
    
}

/* Question answers text */
.quiz_option {
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
}

/* Results page wrapper */
.quiz_results {
    text-align: center;
    margin-top: 2rem;
}

/* Submit button for quiz */
.submit_quiz_button {
    padding: .8rem 1.5rem;
    background: #F5A201;
    border: none;
    border-radius: 5px;
    color: #013C58;
    cursor: pointer;
    font-weight: 600;
}

/* Animation for hovering submit button */
.submit_quiz_button:hover {
    background: #013C58;
    color: white;
}
