/**************************************** ACCOUNT PAGE BANNER ****************************************/
.account_page_banner {
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: #c1eef9;
}

/* Banner text */
.account_page_banner h1 {
    font-size: 3rem;
    color: #013C58;
}

/**************************************** MAIN CONTENT ****************************************/
.account_page {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/**************************************** LEFT SIDE: Profile Box and Navigation/Logout buttons ****************************************/
.account_page_left {
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/******************** Profile box ********************/
.profile_box {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    background: #013C58;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

/* PROFILE TOP SECTION: Profile picture, username, user level, and change profile picture button */
.profile_box_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

/* Profile picture */
.profile_box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

/* Change profile picture button */
.profile_box button {
    position: absolute;
    top: 6.5rem;
    left: 6rem;
    font-size: 1.8rem;
    color: #c1eef9;
    border: 5px solid #013C58;
    background: #013C58;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.profile_box button:hover {
    animation: rotate 0.5s ease;
    color: #F5A201;
}

/* Rotation animation */
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* Username and level wrapper */
.profile_text_box {
    text-align: right;
}

/* Username text */
.profile_text_box h3 {
    color: white;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

/* Level text */
.profile_text_box p {
    color: #c1eef9;
    font-weight: 300;
    font-size: 1rem;
}

/* PROFILE BOTTOM SECTION: Points and streak bars */

/* Bar styling */
.points_bar,
.streak_bar {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background: #c1eef9;
}

/* Streak Bar */
.streak_bar {
    background: #F5A201;
}

/******************** Form navigation and logout buttons ********************/
.change_form_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

/* Form change + Logout button styling */
.change_form_wrapper button {
    box-sizing: border-box;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    margin-bottom: 1rem;
    background: none;
    transition: 0.3s ease;

    /* Font */
    color: rgb(155, 155, 155);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

/* Button hover animation */
.change_form_wrapper button:hover {
    cursor: pointer;
    background: #013C58;
    color: #c1eef9;
    border: 1px solid #c1eef9;
    transform: translateX(1rem);
}

/* Form associated with button is active */
.change_form_wrapper button.active {
    background: #013C58;
    color: #c1eef9;
    border: 1px solid #c1eef9;
    cursor: default;
}

/**************************************** FORM SETTINGS ****************************************/
.site_settings_form_section,
.account_settings_form_section {
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

/* Heading and subheading for site settings form section */
.site_settings_form_top,
.account_settings_form_top {
    text-align: center;
}

.site_settings_form_top p,
.account_settings_form_top p {
    font-weight: 400;
    color: grey;
}

/* Actual Form section */
.site_settings_form_bottom,
.account_settings_form_bottom {
    padding: 2rem;
}

/* Labels for each option */
.settings_form h4,
.account_settings_form h4 {
    padding-bottom: 0.5rem;
}

/* Button wrapper */
.submit_buttons {
    display: flex;
    gap: 1rem;
    justify-content: right;
    align-items: center;
}

/* Cancel, submit, and delete account buttons */
.submit_buttons button,
.delete_account_button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    transition: .3s ease;
    border: 1px;
}

#cancel {
    background: white;
    border: 1px solid black;
}

#submit {
    background: #013C58;
    border: none;
    color: white;
}

/* Hovering submit/cancel button */
#cancel:hover,
#submit:hover,
#delete_account:hover {
    cursor: pointer;
    transform: scale(1.2);
    background: #F5A201;
    color: black;
    border: none;
}

/******************** SITE SETTINGS FORM ********************/

/* Dropdown options */
.settings_form select {
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
    height: 50px;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    text-align: left;
    border: 1px solid rgb(196, 196, 196);
    background: rgb(238, 238, 238);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Remove default border style when focused */
.settings_form select:focus {
    outline-style: none !important;
    border: 1px solid #013C58;
}

/* Verification box */
.verification_box {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    padding: 0.8rem;
    gap: 0.5rem;
    box-sizing: border-box;
}

/* Verification text */
.verification_box h5 {
    font-weight: 600;
    font-size: 0.8rem;
    margin: 0;
}

/* Learn more button */
.verification_button {
    color: blue;
    text-decoration: underline;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: 0.3s ease;
}

.verification_button:hover {
    color: #F5A201;
}

/******************** ACCOUNT SETTINGS FORM ********************/


/* Text fields */
.account_settings_form input {
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
    height: 50px;
    margin-bottom: 1.5rem;
    padding-left: 0.5rem;
    text-align: left;
    color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

/* Remove default border style when focused */
.account_settings_form input:focus {
    outline-style: none !important;
    border: 1px solid #013C58;
    color: black;
}

#delete_account {
    background: red;
    width: 150px;
    margin-right: 140px;
    border: none;
    color: white;
}

/* Password field */
.password-field {
    display: flex;
    align-items: center;
    position: relative;
}

/* Password Visibility icon */
.visibility-icon {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #013C58;
}

@media (max-width: 1100px) {
    .account_page {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}
