/******************** SITE SETTINGS BANNER ********************/
.site_settings_banner {
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: #c1eef9;
}

/* Banner text */
.site_settings_banner h1 {
    font-size: 3rem;
    color: #013C58;
}

/******************** MAIN BODY ********************/
.account_page_body {
    display: flex;
    padding-left: 25vw;
    padding-right: 25vw;
    gap: 10vw;
}

/********** LEFT SIDE CONTENT **********/
.account_left {
    width: 500px;
}
/***** Profile Box Section *****/
.account_box {
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    margin-top: 10vh;
    margin-bottom: 5vh;
    background: #013C58;
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

/* Top section of account box */
.account_box_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

/* Profile image */
.account_box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

}

/* Username and Level Section */
.account_text_section {
    text-align: right;
}

/* Username */
.account_text_section h3 {
    color: white;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

/* Level */
.account_text_section p {
    color: #c1eef9;
    font-weight: 300;
    font-size: 1rem;
}

/* Top section of account box */
.account_box_bottom {
    align-items: center;
    color: #013C58;
}

/* Points Bar */
.Points_section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    background: #c1eef9;
    margin-bottom: 1rem;
}

/* Streak Bar */
.Streak_section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    background: #F5A201;
}

/***** Change Page and Logout Button Section *****/
.change_page_buttons button{
    border: 1px solid rgb(155, 155, 155);
    border-radius: 10px;
    width: 350px;
    height: 50px;
    padding: 10px;
    margin-bottom: 1rem;
    background: none;
    transition: 0.3s ease;

    /* Font */
    color: rgb(155, 155, 155);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

.change_page_buttons button:hover {
    cursor: pointer;
    background: #013C58;
    color: #c1eef9;
    border: 1px solid #c1eef9;
    transform: translateX(1rem);
}

/***** Your Settings Section *****/
.site_settings_form_section {
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 30vw;
    border-radius: 10px;
}

/* Heading and subheading for site settings form section */
.site_settings_form_top {
    text-align: center;
}

.site_settings_form_top p {
    font-weight: 400;
    font-size: 1.rem;
    color: grey;
}

/* Actual Form section */
.site_settings_form_bottom {
    padding: 2rem;
}

.settings_form h4{
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}


/* Dropdown */
.settings_form select {
    font-weight: 600;
    font-size: 0.9rem;
    min-width: 500px;
    height: 60px;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    text-align: left;
    border: 1px solid rgb(196, 196, 196);
    background: rgb(238, 238, 238);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Remove default border style when focused */
.settings_form select:focus {
    outline-style: none !important;
    border: 1px solid #013C58;
}

/* Submit Buttons */
.submit_buttons {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: right;

}
.submit_buttons button{
    width: 6rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    transition: .3s ease;
    border: 1px;
}
#cancel {
    background: white;
    border: 1px solid black;
}
#submit {
    background: #013C58;
    border: none;
    color: white;
}
/* Hovering submit/cancel button */
#cancel:hover,
#submit:hover {
    cursor: pointer;
    transform: scale(1.2);
    background: #F5A201;
    color: black;
    border: none;
}

