/**************************************** ACCOUNT PAGE BANNER ****************************************/
.account_page_banner {
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: #c1eef9;
}

/* Banner text */
.account_page_banner h1 {
    font-size: 3rem;
    color: #013C58;
}

/**************************************** MAIN BODY ****************************************/
.account_page_main {
    display: flex;
    padding-left: 25vw;
    padding-right: 25vw;
    gap: 10vw;
}

/********** LEFT SIDE CONTENT **********/
.account_page_left {
    width: 500px;
    margin-bottom: 25vh;
}

/***** Profile Box Section *****/
.profile_box {
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    margin-top: 10vh;
    margin-bottom: 5vh;
    background: #013C58;
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

/* Top section of account box */
.profile_box_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

/* Profile image */
.profile_box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

/* Change Profile Icon button */
.profile_box button {
    position: absolute;
    margin-top: 4.8rem;
    margin-left: 4.5rem;
    font-size: 1.8rem;
    color: #c1eef9;
    border: 5px solid #013C58;
    background: #013C58;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.profile_box button:hover {
    animation: rotate 0.5s ease;
    color: #F5A201;
}

/* Animation to make button rotate on hover */
@keyframes rotate {
    0% {transform: rotate(0deg);}
    
    100% {transform: rotate(360deg);}
}

/* Username and Level Section */
.profile_text_box {
    text-align: right;
}

/* Username */
.profile_text_box h3 {
    color: white;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

/* Level */
.profile_text_box p {
    color: #c1eef9;
    font-weight: 300;
    font-size: 1rem;
}

/* Top section of account box */
.profile_box_bottom {
    align-items: center;
    color: #013C58;
}

/* Points Bar */
.points_section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    background: #c1eef9;
    margin-bottom: 1rem;
}

/* Streak Bar */
.streak_section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    background: #F5A201;
}

/***** Change Page and Logout Button Section *****/
.change_form_buttons button {
    border: 1px solid rgb(155, 155, 155);
    border-radius: 10px;
    width: 350px;
    height: 50px;
    padding: 10px;
    margin-bottom: 1rem;
    background: none;
    transition: 0.3s ease;

    /* Font */
    color: rgb(155, 155, 155);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

/* Button hover animation */
.change_form_buttons button:hover {
    cursor: pointer;
    background: #013C58;
    color: #c1eef9;
    border: 1px solid #c1eef9;
    transform: translateX(1rem);
}

/* Form associated with button is active */
.change_form_buttons button.active {
    background: #013C58;
    color: #c1eef9;
    border: 1px solid #c1eef9;
    cursor: default;
}

/**************************************** GENERAL FORM SETTINGS ****************************************/
.site_settings_form_section,
.account_settings_form_section {
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    margin-top: 10.5vh;
    width: 30vw;
    border-radius: 10px;
}

/* Heading and subheading for site settings form section */
.site_settings_form_top,
.account_settings_form_top {
    text-align: center;
}

.site_settings_form_top p,
.account_settings_form_top p {
    font-weight: 400;
    color: grey;
}

/* Actual Form section */
.site_settings_form_bottom,
.account_settings_form_bottom {
    padding: 2rem;
}

/* Labels for each option */
.settings_form h4,
.account_settings_form h4 {
    padding-bottom: 0.5rem;
}

/* Button wrapper */
.submit_buttons {
    display: flex;
    gap: 1rem;
    justify-content: right;
    align-items: center;
}

/* Cancel, submit, and delete account buttons */
.submit_buttons button,
.delete_account_button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    transition: .3s ease;
    border: 1px;
}

#cancel {
    background: white;
    border: 1px solid black;
}

#submit {
    background: #013C58;
    border: none;
    color: white;
}

/* Hovering submit/cancel button */
#cancel:hover,
#submit:hover,
#delete_account:hover {
    cursor: pointer;
    transform: scale(1.2);
    background: #F5A201;
    color: black;
    border: none;
}

/******************** SITE SETTINGS FORM ********************/

/* Dropdown options */
.settings_form select {
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
    height: 50px;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    text-align: left;
    border: 1px solid rgb(196, 196, 196);
    background: rgb(238, 238, 238);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Remove default border style when focused */
.settings_form select:focus {
    outline-style: none !important;
    border: 1px solid #013C58;
}

/* Verification box */
.verification_box {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    padding: 0.8rem;
    gap: 0.5rem;
    box-sizing: border-box;
}

/* Verification text */
.verification_box h5 {
    font-weight: 600;
    font-size: 0.8rem;
    margin: 0;
}

/* Learn more button */
.verification_button {
    color: blue;
    text-decoration: underline;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: 0.3s ease;
}

.verification_button:hover {
    color: #F5A201;
}

/******************** ACCOUNT SETTINGS FORM ********************/


/* Text fields */
.account_settings_form input {
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
    height: 50px;
    margin-bottom: 1.5rem;
    padding-left: 0.5rem;
    text-align: left;
    color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

/* Remove default border style when focused */
.account_settings_form input:focus {
    outline-style: none !important;
    border: 1px solid #013C58;
    color: black;
}

#delete_account {
    background: red;
    width: 150px;
    margin-right: 140px;
    border: none;
    color: white;
}