/* Banner */
.account_page_banner {
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: #c1eef9;
}

/* Banner text */
.account_page_banner h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #013C58;
    margin: 0;
}

/* Main Body */
.account_page {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
}


/* Left section of page: Profile box + Form navigation */
.account_page_left {
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 15rem;
}

/**************************************** RESPONSIVE DESIGN ****************************************/
@media (max-width: 1100px) {

    /* Main Body */
    .account_page {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        flex-wrap: nowrap;
    }

    /* Left section of page */
    .account_page_left {
        width: 310px;
    }
}

/**************************************** MOBILE MODE ****************************************/
@media (max-width: 650px) {

    /* Banner text */
    .account_page_banner h1 {
        font-size: 1.5rem;
    }

    /* Main Body */
    .account_page {
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding: 1rem;
        max-width: 100%;
        flex-wrap: nowrap;
        overflow-x: hidden;
    }

    /* Left section */
    .account_page_left {
        width: 100%;
        max-width: 100%;
        margin-bottom: 2rem;
    }
}