/******************** SITE SETTINGS BANNER ********************/
.site_settings_banner {
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: #c1eef9;
}

/* Banner text */
.site_settings_banner h1 {
    font-size: 3rem;
    color: #013C58;
}

/******************** MAIN BODY ********************/
.account_page_body {
    display: flex;
    justify-content: space-between;
    padding-left: 20vw;
    padding-right: 20vw;
}


/***** Profile Box Section *****/
.account_box {
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background: #013C58;
    width: 15vw;
    height: 250px;
    border-radius: 10px;
}

/* Top section of account box */
.account_box_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

/* Profile image */
.account_box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

}

/* Username and Level Section */
.account_text_section {
    text-align: right;
}

/* Username */
.account_text_section h3 {
    color: white;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

/* Level */
.account_text_section p {
    color: #c1eef9;
    font-weight: 300;
    font-size: 1rem;
}

/* Top section of account box */
.account_box_bottom {
    align-items: center;
    color: #013C58;
}

/* Points Bar */
.Points_section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    background: #c1eef9;
    margin-bottom: 1rem;
}

.Streak_section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    background: #F5A201;
}

/***** Your Settings Section *****/
.site_settings_form_section {
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    background: #c1eef9;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 30vw;
    border-radius: 10px;
}

/* Heading and subheading for site settings form section */
.site_settings_form_top {
    text-align: center;
}

.site_settings_form_top p {
    font-weight: 400;
    font-size: 1.rem;
    color: grey;
}

/* Actual Form section */
.site_settings_form_bottom {
    padding: 2rem;
}

/* Dropdown */
.settings_form select {
    font-weight: 600;
    width: 25vw;
    height: 5vh;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: left;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

/* Remove defauly border style when focused */
.settings_form select:focus {
    outline-style: none !important;
    border: 1px solid #F5A201;
}
