/* Entire Page settings  */
/*removes default margin and padding so images are full*/
html, body {
  margin: 0;
  padding: 0;
}

/* page settings */
.home-container {
  font-family: "Sora", sans-serif;
  background: linear-gradient(#c1eef9, #e9f8ff);
  color: #013C58;
}

/*Buttons*/
.cta-rbutton {
  background: #013C58;
  color: #fff;
  border: none;
  padding: 15px 34px;
  font-size: 1.1rem;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.cta-rbutton:hover {
  background: #F5A201;
  color: #013C58;
  transform: translateY(-4px);
}

.cta-jnbutton {
  background: #013C58;
  color: #fff;
  border: none;
  padding: 15px 34px;
  font-size: 1.1rem;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.cta-jnbutton:hover {
  background: #F5A201;
  color: #013C58;
}

/* Hero Section*/
.hero {
  text-align: center;
  padding: 110px 20px 90px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
/* Dark Layer*/
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(10, 10, 10, 0.45);
  z-index: 1;
}

/* calls all the elements inside hero */
.hero * {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero p {
  max-width: 650px;
  margin: 0 auto 35px;
  font-size: 1.15rem;
  line-height: 1.6;
  opacity: 0.9;
}

/* Features Section */

.features {
  text-align: center;
}

.features h2 {
  font-size: 2.2rem;
  margin-top: 60px;
  margin-bottom: 25px;
}

.offer {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 40px;
  padding-top: 30px;
}

/* Feature Cards */
.feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}

.card {
  background: white;
  padding: 26px;
  width: 300px;
  height: 260px;
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: #013C58;
}

.card h3 {
  margin-bottom: 12px;
  font-size: 1.35rem;
}

.card-link {
  text-decoration: none;
  color: #013C58;
  display: block;
}

.card-icon1,
.card-icon2,
.card-icon3 {
  border-radius: 10%;
  object-fit: cover;
  display: block;
  margin: 0 auto 15px;
}

.card-icon1 {
  width: 190px;
  height: 190px;
}

.card-icon2,
.card-icon3 {
  width: 150px;
  height: 150px;
}

/* Final call to action    */
.final-cta {
  text-align: center;
  padding: 90px 20px;
}

.final-cta h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

/* Wave block Section    */
/* Outer design of the wave block */
.wave-block {
  width: 100vw;
  margin: 120px 0 80px;
  background: #013C58;
  color: #fff;
  padding: 60px 20px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.wave-block::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #013C58;
  clip-path: polygon(
    0 50px,
    10% 30px, 
    20% 40px, 
    30% 20px,
    40% 30px, 
    50% 0, 
    60% 20px, 
    70% 10px,
    80% 30px, 
    90% 20px, 
    100% 50px,
    100% 100%, 
    0 100%
  );
}

.wave-block::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #013C58;
  transform: scaleY(-1);
  clip-path: polygon(
    0 50px, 
    10% 30px, 
    20% 40px, 
    30% 20px,
    40% 30px, 
    50% 0, 
    60% 20px, 
    70% 10px,
    80% 30px, 
    90% 20px, 
    100% 50px,
    100% 100%, 
    0 100%
  );
}
 /* inner content of the wave block */
.wave-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}