/* Overall page area */
.home-container {
  font-family: "Sora", sans-serif;
  background: linear-gradient(#c1eef9, #e9f8ff);
  color: #013C58;
}

/* Top hero section */
.hero {
  text-align: center;
  padding: 110px 20px 90px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero-h2 {
  font-size: 1 rem;
  font-weight: 100;
  margin-bottom: 30px;
} 

.hero p {
  max-width: 650px;
  margin: 0 auto 35px;
  font-size: 1.15rem;
  line-height: 1.6;
  opacity: 0.9;
}

/* Buttons on the page */
.cta-button {
  background: #F5A201;
  color: #013C58;
  border: none;
  padding: 15px 34px;
  font-size: 1.1rem;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

.cta-button:hover {
  background: #013C58;
  color: #F5A201;
  transform: translateY(-4px);
}

/* Middle featuring section */
.features {
  text-align: center;
  padding: 80px 20px;
}

.features h2 {
  font-size: 2.2rem;
  margin-bottom: 45px;
}

/* Card layout */
.feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}

/* Single card */
.card {
  background: white;
  padding: 26px;
  width: 260px;
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  transition: 0.25s ease;
  cursor: pointer;
}
.card-link{
  text-decoration: none;
  color: inherit;
  display: block;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.16);
}

.card h3 {
  margin-bottom: 12px;
  font-size: 1.35rem;
}

/* Bottom section */
.final-cta {
  text-align: center;
  padding: 90px 20px;
}

.final-cta h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

/* Slightly bigger button here */
.cta-button.large {
  padding: 17px 42px;
  font-size: 1.25rem;
  border-radius: 16px;
}

.card-icon1{
  width: 190px;
  height: 190px;
  margin-bottom: 1px;
  border-radius: 10%;
  object-fit: cover;
}
.card-icon2{
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  border-radius: 10%;
  object-fit: cover;
}

.card-icon3{
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  border-radius: 10%;
  object-fit: cover;
}