.quickcalm-container {
  max-width: 1100px;
  margin: auto;
}

/* Categories */
.qc-categories {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 25px;
  padding-top: 30px;
}

.qc-category-btn {
  padding: 20px 28px;
  border-radius: 20px;
  background: #e8e8e8;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  text-transform: capitalize;
  font-size: 0.75rem;
}

.qc-category-btn.active {
  background: #6aa6ff;
  color: white;
  font-size: 0.75rem;
}

/* Exercise Cards */
.qc-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}

.qc-card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #d7e4ff;
  box-shadow: 0px 5px 15px rgba(100, 150, 255, 0.1);
  transition: 0.3s;
}

.qc-card:hover {
  transform: translateY(-5px);
}

/* Top of card */
.qc-card-top h3 {
  margin: 0 0 10px 0;
  color: #2d3e5e;
}

/* Description */
.qc-description {
  color: #666;
  font-size: 14px;
  margin-bottom: 15px;
}

/* Duration + Points */
.qc-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #444;
}

.qc-points {
  font-weight: bold;
  color: #3b82f6;
}

/* Start Button */
.qc-start-btn {
  background: #3b82f6;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.qc-start-btn:hover {
  background: #2363d9;
}

.qc-card-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 15px;
}

/* Hero Wrapper*/
.qc-hero {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  min-height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 40px 20px;
  font-size: 1.5rem;
}
.qc-hero::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  border-radius: inherit;
  z-index: 1;
}
.qc-hero * {
  position: relative;
  z-index: 2;
}
