/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap');

/********** BASE HTML ******************************/
html {
    overflow-y: scroll;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
